<div class="parent-fragment" th:fragment="parent(x,y)">
    <h2>This text is coming from fragment</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, voluptates
    repellat? Quo accusamus voluptatibus omnis deleniti delectus nobis quae
    ipsa, cum repudiandae rem, soluta illo nostrum neque fugiat. Expedita,
    laborum.
  </p>
  <div>
    <h2>The value of X is <span th:text="${x}"></span></h2>
    <h2>The value of Y is <span th:text="${y}"></span></h2>

  </div>
</div>
