<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
  <head>
    <title>Contact Page</title>
  </head>
  <body>
    <div id="content">
    <h1>Welcome to Contact page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officia
      accusantium ab. Inventore, sapiente. Voluptates esse quis, nostrum
      voluptatem mollitia aperiam labore sunt consequuntur similique. Facere
      aliquid a recusandae rerum?
    </p>
</div>
<script>
    console.log("this is Contact page")
</script>
  </body>
</html>
